body {
    width: 300px;
    padding: 10px;
    background-color: #36c1da;
}

H1 {
    color: black;
    padding-bottom: 0px;
    text-align: center;
    padding-top: 0px;
}

select {
    width: 170px;
    height: 30px;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;
    border-width: 1.5px;
    display: inline-flex;
}

input {
    margin-top: 0px;
    margin-bottom: -6px;
    margin-left: 25px;
    padding: 0px;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    border-width: 1.5px;
    display: inline-flex;
}

submit:disabled {
    background-color: ;
}
